﻿@model projeto_v0.Models.Atividade

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adicionar nova atividade</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Atividade</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group"> 
            <label class="control-label col-md-2">Id</label>
            <div class="col-md-10">               
                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"> 
            <label class="control-label col-md-2">Nome</label>
            <div class="col-md-10">              
                @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Resumo</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.resumo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.resumo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">   
            <label class="control-label col-md-2">Data de Início</label>
            <div class="col-md-10">               
                @Html.EditorFor(model => model.data_ini, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.data_ini, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">  
            <label class="control-label col-md-2">Data de fim</label>
            <div class="col-md-10">               
                @Html.EditorFor(model => model.data_fim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.data_fim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Carga horária</label>
            <div class="col-md-10">               
                @Html.EditorFor(model => model.carga_horaria, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.carga_horaria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">  
            <label class="control-label col-md-2">Código do Responsável</label>
            <div class="col-md-10">                
                @Html.EditorFor(model => model.cod_responsavel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cod_responsavel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"> 
            <label class="control-label col-md-2">Ano</label>
            <div class="col-md-10">              
                @Html.EditorFor(model => model.ano, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ano, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"> 
            <label class="control-label col-md-2">Local</label>
            <div class="col-md-10">               
                @Html.EditorFor(model => model.local, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.local, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"> 
            <label class="control-label col-md-2">Código do tipo da atividade</label>
            <div class="col-md-10">                
                @Html.EditorFor(model => model.cod_tipo_ativ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cod_tipo_ativ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
