﻿@model projeto_v0.Models.Atividade

@{
    ViewBag.Title = "Deelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar atividade</h2>

<h3>Você tem certeza que deseja deletar essa atividade?</h3>
<div>
    <h4>Atividade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_ini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_ini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_fim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_fim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carga_horaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carga_horaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_responsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_responsavel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_tipo_ativ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_tipo_ativ)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
