﻿@model IEnumerable<projeto_v0.Models.Atividade>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Lista de Atividades</h3>

<p>
    @Html.ActionLink("Adicionar nova Atividade", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Nome da Atividade
        </th>
        <th>
            Resumo
        </th>
        <th>
           Data de Inicio
        </th>
        <th>
            Data de Fim
        </th>
        <th>
            Carga Horária
        </th>
        <th>
            Código do Responsável
        </th>
        <th>
            Ano do Curso
        </th>
        <th>
            Local do Curso
        </th>
        <th>
            Código do Tipo de Atividade
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resumo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_ini)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_fim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carga_horaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_responsavel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.local)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_tipo_ativ)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
            @Html.ActionLink("Matricular Alunos", "CreatePorArquivo", "Certificado", new { id = item.id }, null) |
            @Html.ActionLink("Alunos", "Detalhes", new { id = item.id })|
            @Html.ActionLink("Concluir Atividade", "ConcluirAtividade", "Certificado", new { id = item.id }, null) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
