﻿@model projeto_v0.Models.TipoAtividade

@{
    ViewBag.Title = "Deelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar tipo de atividade</h2>

<h3>Você tem certeza que deseja deletar esse tipo de atividade?</h3>
<div>   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_template)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_template)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
