﻿@model IEnumerable<projeto_v0.Models.TipoAtividade>

@{
    ViewBag.Title = "Lista de Tipos de Atividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Lista de Tipos de Atividades</h3>

<p>
    @Html.ActionLink("Adicionar novo Tipo de Atividade", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Descrição
        </th>
        <th>
            Código do Template
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_template)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.id  }) |           
            @Html.ActionLink("Excluir", "Delete", new {  id=item.id  })
        </td>
    </tr>
}

</table>
