﻿@model IEnumerable<projeto_v0.Models.Participante>

<p>
    Alunos Matriculados
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            
            @Html.ActionLink("Indeferido", "CertificadoCancelado","Certificado", new {  part=item.id,ativ= ViewBag.idCert,tipo=ViewBag.tipo },null)
        </td>
    </tr>
}

</table>
