﻿@model projeto_v0.Models.Certificado

@{
    ViewBag.Title = "Concluir Atividade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Concluir Atividade</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Certificado</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <label class="control-label col-md-2">Código da atividade</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cod_atividade, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.id } })
                @Html.ValidationMessageFor(model => model.cod_atividade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Data de emissão</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.data_emissao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.data_emissao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Código do template</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cod_template, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cod_template, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Código da assinatura 1</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cod_assinatura_1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cod_assinatura_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Código da assinatura 2</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cod_assinatura_2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cod_assinatura_2, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

<div>
    @Html.Action("AlunosMatriculados", "Certificado", new { id = ViewBag.id,tipo=1 })
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Emitir Certificados" class="btn btn-default" />
    </div>
</div>
}
<div>
    @Html.ActionLink("Voltar", "Index")
</div>
