﻿@model projeto_v0.Models.Certificado

@{
    ViewBag.Title = "CreatePorArquivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Matricular Lista de Alunos</h2>

@using (Html.BeginForm("MatriculaAlunos", "Certificado", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Certificado</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            <label class="control-label col-md-2">Código da atividade</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cod_atividade, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.ativ } })
                @Html.ValidationMessageFor(model => model.cod_atividade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="file" class="form-control" name="uploadfile" id="uploadfile" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Voltar", "Index")
</div>
