﻿@model projeto_v0.Models.Certificado

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar certificado</h2>

<h3>Você tem certeza que deseja deletar esse certificado?</h3>
<div>
    <h4>Certificado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_unico_certif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_unico_certif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_atividade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_atividade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_participante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_participante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_emissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_emissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_template)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_template)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_assinatura_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_assinatura_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_assinatura_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_assinatura_2)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
