﻿@model IEnumerable<projeto_v0.Models.Certificado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de certificados</h2>

<p>
    @Html.ActionLink("Adicionar novo certificado", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Id
        </th>
        <th>
            Código de autenticidade
        </th>
        <th>
            Código da atividade
        </th>
        <th>
            Código do participante
        </th>
        <th>
           Data de emissão
        </th>
        <th>
            Código do template
        </th>
        <th>
            Código da assinatura 01
        </th>
        <th>
           Código da assinatura 02
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_unico_certif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_atividade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_participante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_emissao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_template)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_assinatura_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_assinatura_2)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.id }) |
            @Html.ActionLink("Download", "CertificadoPDF", new { id = item.id })
        </td>
    </tr>
}

</table>
