﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>     
    

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>
<body id="body-container">    
        @Html.Partial("_navBar")
    
    <div class="container body-content">
        @RenderBody()
        <hr/>    
        <footer>
            <p>&copy; @DateTime.Now.Year - Certifique-se &copy; Todos os direitos reservado.</p>
        </footer>
    </div>   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @{Html.RenderPartial("~/Views/Shared/_Mensagem.cshtml");} 

  
</body>
</html>
