﻿<nav class="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><img src="~/img/logotipo.png" style="height:60px;width:110px; margin-top:0"/></li>                

                <li class="dropdown">
                    <span class="glyphicon glyphicon-home"></span>
                    @Html.ActionLink("Home", "Index", "Home", null, null)
                </li>

                <li class="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                     @Html.ActionLink("Gerenciar Usuários", "Index", "Usuario", null, null)                   
                </li>

                <li class="dropdown">
                    <span class="glyphicon glyphicon-tasks"></span>
                    @Html.ActionLink("Gerenciar Atividades", "Index", "Atividade", null, null)
                </li>

                <li class="dropdown">
                    <span class="glyphicon glyphicon-pencil"></span>
                    @Html.ActionLink("Gerenciar Matrículas", "Index", "Participante", null, null)
                </li>               

                <li class="dropdown">
                    <span class="glyphicon glyphicon-education"></span>
                    @Html.ActionLink("Gerenciar certificados", "Index", "Certificado", null, null)
                </li>               

                <li class="dropdown">
                    <span class="glyphicon glyphicon-th-large"></span>
                    @Html.ActionLink("Templates", "Index", "Template", null, null)                
                </li>  
                
                <li class="dropdown">
                    <span class="glyphicon glyphicon-edit"></span>
                    @Html.ActionLink("Gerenciar assinaturas", "Index", "Assinatura", null, null)
                </li>
            </ul>           
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>