﻿@model IEnumerable<projeto_v0.Models.Template>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de templates</h2>

<p>
    @Html.ActionLink("Adicionar novo template", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
           Caminho do seu computador 
        </th>
        <th>
            Descrição
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caminho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.id  }) |            
            @Html.ActionLink("Deletar", "Delete", new {  id=item.id  })
        </td>
    </tr>
}

</table>
