﻿body {
    background-color: ghostwhite;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*Alterar navbar*/
.navbar {
    background-color: #69804E;
    width: 100%;
    padding: 5%;
    margin-bottom: 5%;
}

/*Alterar cor dos links da navbar*/
nav ul li a {
    color: white;
}

    /*Alterar cor dos links ativos da navbar*/
    nav ul li a:hover {
        color: olivedrab;
    }

a:hover, a:focus {
    color: olivedrab;
    text-decoration: underline;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #fff;
    border-color: #fff;
}

footer {
    margin-top: 100%;
    background-color: #69804E;
    text-align:center;
    width:100%;
    height:20%;   
}

input[type=text], input[type=password], input[type=number] {
    width: 50%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #00b300;
    color: white;
    padding: 14px 20px;
    margin: 20px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
}

.form-actions {
    margin-top: 10%;
}
