﻿@model IEnumerable<projeto_v0.Models.Usuario>

@{
    ViewBag.Title = "Lista de Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Lista de Usuários</h3>

<p>
    @Html.ActionLink("Adicionar novo usuário", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Usuário
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            
            @Html.ActionLink("Excluir", "Delete", new { id=item.id })
        </td>
    </tr>
}
</table>
