﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<!DOCTYPE html>
<html>
<body>

    <div class="container">
        <label><b>Usuário</b></label>
        <input type="text" placeholder="Escreva seu Nome de Usuário" name="uname" required>
        <div class="container">
            <label><b>Senha</b></label>
            <input type="password" placeholder="Escreva a Senha" name="psw" required>

            <button type="submit">Login</button>
            <div>
                <input type="checkbox" checked="checked"> Lembrar
            </div>
        </div>
    </div>
    <div class="container">
        <button type="button" class="cancelbtn">Cancelar</button>
        <span class="cad"> <a href="#">Cadastrar</a></span>

        <div class="container">
            <span class="psw"> <a href="#">Esqueceu a senha?</a></span>
        </div>
    </div>
    </form>
    </div>

    <script>
// Get the modal
var modal = document.getElementById('id01');

    </script>

</body>
</html>